<%= simple_form_for(@proxy) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :timestamp %>
    <%= f.input :ip %>
    <%= f.input :port %>
    <%= f.input :country, :as => :string %>
    <%= f.input :speed %>
    <%= f.input :connection_time %>
    <%= f.input :protocol %>
    <%= f.input :anonymity %>
    <%= f.input :good %>
    <%= f.input :check %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
