<h1><%= t('Proxies') %></h1>

<br />
<%= will_paginate @proxies %>
<br />

<table>
  <tr>
    <th><%= t('Timestamp') %></th>
    <th><%= t('Ip') %></th>
    <th><%= t('Port') %></th>
    <th><%= t('Country') %></th>
    <th><%= t('Good') %></th>
    <th><%= t('Check') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proxies.each do |proxy| %>
  <tr class='<%= cycle('even', 'odd') %>' >
    <td><%= l(proxy.timestamp, :format => :short) %></td>
    <td><%= proxy.ip %></td>
    <td><%= proxy.port %></td>
    <td><%= truncate(proxy.country, :length => 20) %></td>
    <td><%= proxy.good %></td>
    <td><%= truncate(proxy.check, :length => 20) %></td>
    <td><%= link_to controls('Show'), proxy %></td>
    <td><%= link_to controls('Edit'), edit_proxy_path(proxy) %></td>
    <td><%= link_to controls('Destroy'), proxy, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @proxies %>
<br />

<%= link_to t('New proxy'), new_proxy_path %>
