<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Timestamp') %>:</b>
  <%= @proxy.timestamp %>
</p>

<p>
  <b><%= t('Ip') %>:</b>
  <%= @proxy.ip %>
</p>

<p>
  <b><%= t('Port') %>:</b>
  <%= @proxy.port %>
</p>

<p>
  <b><%= t('Country') %>:</b>
  <%= @proxy.country %>
</p>

<p>
  <b><%= t('Speed') %>:</b>
  <%= @proxy.speed %>
</p>

<p>
  <b><%= t('Connection time') %>:</b>
  <%= @proxy.connection_time %>
</p>

<p>
  <b><%= t('Protocol') %>:</b>
  <%= @proxy.protocol %>
</p>

<p>
  <b><%= t('Anonymity') %>:</b>
  <%= @proxy.anonymity %>
</p>

<p>
  <b><%= t('Good') %>:</b>
  <%= @proxy.good %>
</p>

<p>
  <b><%= t('Check') %>:</b>
  <%= @proxy.check %>
</p>

<%= link_to t('Edit'), edit_proxy_path(@proxy) %> |
<%= link_to t('Back'), proxies_path %>
