<h1><%= t('Manufacturer synonyms') %></h1>

<table>
  <tr>
    <th><%= t('Manufacturer synonym') %></th>
    <th><%= t('Manufacturer') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturer_synonyms.each do |manufacturer_synonym| %>
  <tr>
    <td><%= manufacturer_synonym.title %></td>
    <td><%= manufacturer_synonym.manufacturer.title %></td>
    <td><%= link_to controls('Show'), manufacturer_synonym %></td>
    <td><%= link_to controls('Edit'), edit_manufacturer_synonym_path(manufacturer_synonym) %></td>
    <td><%= link_to controls('Destroy'), manufacturer_synonym, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New manufacturer synonym'), new_manufacturer_synonym_path %>
