<h1>Listing manufacturer_synonyms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Manufacturer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturer_synonyms.each do |manufacturer_synonym| %>
  <tr>
    <td><%= manufacturer_synonym.title %></td>
    <td><%= manufacturer_synonym.manufacturer.title %></td>
    <td><%= link_to 'Show', manufacturer_synonym %></td>
    <td><%= link_to 'Edit', edit_manufacturer_synonym_path(manufacturer_synonym) %></td>
    <td><%= link_to 'Destroy', manufacturer_synonym, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufacturer synonym', new_manufacturer_synonym_path %>
