<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Manufacturer synonym') %>:</b>
  <%= @manufacturer_synonym.title %>
</p>

<p>
  <b><%= t('Manufacturer') %>:</b>
  <%= @manufacturer_synonym.manufacturer.title %>
</p>


<%= link_to t('Edit'), edit_manufacturer_synonym_path(@manufacturer_synonym) %> |
<%= link_to t('Back'), manufacturer_synonyms_path %>
