<!DOCTYPE html>
<html>
<head>
  <title>Server</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to t('Manufacturers'), manufacturers_path %>
  <%= link_to t('Manufacturer Synonyms'), manufacturer_synonyms_path %>
  <%= link_to t('Parts'), parts_path %>
  <%= link_to t('Processing'), '/processing' %>
<%= yield %>

</body>
</html>
