!!!
%html
  %head
    %title= "Fortezo " + yield(:title)
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .example
      = example :title => link_to( 'parts.com', 'http://bit.ly/n3iO4v'), :haml => '279476', :sass => '279472', :css => '279470' do
        #example_4.example_content
          #js_navigation= render_navigation(:expand_all => true)
          .content
            .breadcrumbs
              = render_navigation(:renderer => :breadcrumbs, :join_with => '&nbsp;::&nbsp;')
              = yield
          .clear_float
    
    = render :partial => 'counters/google'
    = render :partial => 'counters/yandex'

    :javascript
      $(document).ready(function(){ 
        $("#js_navigation ul").superfish(); 
      });
