<%= simple_form_for(@part) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :catalog_number %>
    <br />
    <%= f.input :title %>
    <br />
    <%= f.association :manufacturer %>
    <br />
    <%= f.input :price %>
    <br />
    <%= f.input :price_checked %>
    <br />
    <%= f.input :price_updated %>
  </div>

  <br />
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
