<h1><%= t('Parts') %></h1>

<br />
<%= paginate @parts %>
<br />

<table>
  <tr>
    <th><%= t('Catalog number') %> <br /><%= t('New catalog number') %></th>
    <th><%= t('Part name') %></th>
    <th><%= t('Manufacturer') %></th>
    <th><%= t('Price') %></th>
    <th><%= t('Price checked') %></th>
    <th><%= t('Price updated') %></th>
    <th><%= t('Locked') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parts.each do |part| %>
  <tr class='<%= cycle('even', 'odd') %>' >
    <td><%= part.catalog_number %> <br /> <%= part.new_catalog_number %></td>
    <td><%= truncate(part.title) %></td>
    <td><%= part.manufacturer.try(:title) %></td>
    <td><%= number_to_currency(part.price, :locale => 'us') %></td>
    <td><%= part.price_checked.nil? ? '' : l(part.price_checked, :format => :short) %></td>
    <td><%= part.price_updated.nil? ? '' : l(part.price_updated, :format => :short) %></td>
    <td><%= part.locked %></td>

    <td><%= link_to controls('Show'), part %></td>
    <td><%= link_to controls('Edit'), edit_part_path(part) %></td>
    <td><%= link_to controls('Destroy'), part, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @parts %>
<br />

<%= link_to t('New part'), new_part_path %>
