<% content_for :title do %>
  <% "#{@part.catalog_number} #{@part.manufacturer.title} #{@part.title}" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t('Catalog number') %>:</b>
  <%= @part.catalog_number %>
</p>

<p>
  <b><%= t('Part name') %>:</b>
  <%= @part.title %>
</p>

<p>
  <b><%= t('Manufacturer') %>:</b>
  <%= @part.manufacturer.title %>
</p>

<p>
  <b><%= t('Price') %>:</b>
  <%= number_to_currency(@part.price, :locale => :us) %>
</p>

<p>
  <b><%= t('Price checked') %>:</b>
  <%= @part.price_checked %>
</p>

<p>
  <b><%= t('Price updated') %>:</b>
  <%= @part.price_updated %>
</p>


<%= link_to t('Edit'), edit_part_path(@part) %> |
<%= link_to t('Back'), parts_path %>
