<p id="notice"><%= notice %></p>

<p>
  <b>Catalog number:</b>
  <%= @part.catalog_number %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @part.manufacturer %>
</p>

<p>
  <b>Price:</b>
  <%= @part.price %>
</p>

<p>
  <b>Price checked:</b>
  <%= @part.price_checked %>
</p>

<p>
  <b>Price updated:</b>
  <%= @part.price_updated %>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
