<h1>Processing#new</h1>

<%= simple_form_for(@processing, :url => processing_create_path ) do |f| %>
  <div class="inputs">
    <%= f.input :fields %>
    <br />
    <%= f.input :datetime, :as => :datetime %>
    <br />
    <%= f.input :processes %>
    <br />
    <%= f.input :sleeping %>
  </div>

  <br />
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
