<h1><%= t('Manufacturers from parts_com') %></h1>

<table>
  <tr>
    <th><%= t('Parts_com id') %></th>
    <th><%= t('Manufacturer') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr>
    <td><%= manufacturer.parts_com_id %></td>
    <td><%= manufacturer.title %></td>
    <td><%= link_to controls('Show'), manufacturer %></td>
    <td><%= link_to controls('Edit'), edit_manufacturer_path(manufacturer) %></td>
    <td><%= link_to controls('Destroy'), manufacturer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New manufacturer'), new_manufacturer_path %>
