<p id="notice"><%= notice %></p>

<p>
<b><%= t('Parts_com id') %>:</b>
  <%= @manufacturer.parts_com_id %>
</p>

<p>
  <b><%= t('Manufacturer') %>:</b>
  <%= @manufacturer.title %>
</p>


<%= link_to t('Edit'), edit_manufacturer_path(@manufacturer) %> |
<%= link_to t('Back'), manufacturers_path %>
